html{
    background-image:url(sea.gif);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center ;
}
body{
    position:absolute;
    box-sizing: content-box;
    background-color:pink;
    border: 1px solid black;
    width:40%;
    top:20%;
    right:30%;
    padding-bottom:10px;
}
header{
padding:10px;
color: white;
background-color: black;

}
input{
    cursor: pointer;
   
}
ul li{
    list-style-type:none;
}